body {
    background-color: #2B3035;
}

.bg-light-dark {
    background-color: #444444;

}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}